/* variables  */

:root {
  --primary-color: #7dc557;
  --secondary-color: #333;
  --accent-color: #fff;
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.fonts {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.colorize {
  color: var(--primary-color);
}
